.password-generator-wrapper {
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.content {
  padding: 0 2.75em 0;
}
.header {
  text-align: center;
  margin: 0;
}
.title {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 5px;
}
.logo {
  width: 134px;
}
.input-row {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.input-wrapper {
  border-radius: 14px;
  outline: 1px solid grey;
  display: flex;
  flex: 1;
  padding: 0 10px;
}
.input-wrapper input {
  padding: 5px 10px;
  border: none;
  outline: none;
  width: 100%;
}
.refresh {
    cursor: pointer;
}
.copy-btn {
    background-color: aquamarine;
    border-radius: 14px;
    padding: 8px 18px;
    border: none;
    margin-left: 10px;
    display: flex;
    background-color: #3cc;
    font-size: .75em;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.strength, .length {
    margin-top: .5em;
    font-size: .75em;
}
